!/Users/tw/Projects/olive/olive-cli/.olive/specs
!/mnt/project/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-20/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-21/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-22/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-23/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-23/test_initialize_creates_projec0
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-24/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-24/test_initialize_creates_projec0
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-25/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-25/test_initialize_creates_projec0
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-26/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-26/test_initialize_creates_projec0
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-27/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-27/test_initialize_creates_projec0
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-28/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-28/test_initialize_creates_projec0
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-29/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-29/test_initialize_creates_projec0
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-30/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-30/test_initialize_creates_projec0
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-31/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-31/test_initialize_creates_projec0
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-32/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-32/test_initialize_creates_projec0
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-33/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-33/test_initialize_creates_projec0
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-34/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-34/test_initialize_creates_projec0
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-35/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-35/test_initialize_creates_projec0
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-36/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-36/test_initialize_creates_projec0
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-37/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-37/test_initialize_creates_projec0
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-38/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-38/test_initialize_creates_projec0
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-39/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-39/test_initialize_creates_projec0
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-40/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-40/test_initialize_creates_projec0
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-41/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-41/test_initialize_creates_projec0
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-41/test_user_and_project_settings0
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-42/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-42/test_initialize_creates_projec0
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-42/test_user_and_project_settings0
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-43/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-44/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-45/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-46/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-47/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-48/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-49/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-50/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-50/test_initialize_creates_projec0
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-50/test_user_and_project_settings0
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-51/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-51/test_initialize_creates_projec0
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-51/test_user_and_project_settings0
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-52/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-53/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-54/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-55/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-56/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-57/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-57/test_initialize_creates_projec0
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-57/test_user_and_project_settings0
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-58/olive_session_root0/.olive/specs
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-58/test_initialize_creates_projec0
!/private/var/folders/rv/t0ppyd5x271ghk0r9l79xdv80000gn/T/pytest-of-tw/pytest-58/test_user_and_project_settings0
*.egg-info/
*__pycache__*
.DS_Store
.coverage
.dockerignore
.git
.olive
.olive/*
.venv
cli/olive.egg-info/*
docs/
olive/http/
out/
scripts/
