!/Users/tw/Projects/olive/olive-cli/.olive/specs
!/mnt/project/.olive/specs
*.egg-info/
*__pycache__*
.DS_Store
.coverage
.dockerignore
.git
.olive
.olive/*
.venv
cli/olive.egg-info/*
docs/
olive/http/
out/
scripts/
.gitignore
